HUBSPOT_API_TOKEN=<your Hubspot Token>
LDAP_SERVER_URI=ldap://<LDAP_IP>:<LDAP_PORT>
LDAP_SERVER_USER="uid=<bind-user>,ou=people,dc=<yourdomain>,dc=<yourtld>"
LDAP_SERVER_PASS=<your bind password>
LDAP_BASE_DN="ou=people,dc=<your_domain>,dc=<your_tld>"
GQL_SERVER_URI="<LLDAP GraphQL Endpoint>"
GRAPHQL_AUTH_URI="<LLDAP GraphQL AUTH ENDPOINT>"
GRAPHQL_USER="admin"
GRAPHQL_PASSWORD="<LLDAP Admin password>"
